logLevel = "DEBUG"
defaultEntryPoints = ["http", "https"]

# WEB interface of Traefik - it will show web page with overview of frontend and backend configurations
[web]
address = ":44444"
readonly = true
  [web.auth.basic]
    usersFile = ".htpasswd"

# Connection to docker host system (docker.sock)
[docker]
domain = "darenyong.com"
watch = true

# This will hide all docker containers that don't have explicitly
# set label to "enable"
exposedbydefault = false

# Force HTTPS
[entryPoints]
  [entryPoints.http]
  address = ":80"
    [entryPoints.http.redirect]
    entryPoint = "https"
  [entryPoints.https]
  address = ":443"
    [entryPoints.https.tls]

# Let's encrypt configuration
[acme]
  email="daren.j.yong@gmail.com"
  storage="acme.json"
  entryPoint="https"
  acmeLogging=true
  OnHostRule=true
  [acme.httpChallenge]
    entryPoint = "http"

# Metrics definition
#[metrics]
#  [metrics.datadog]
#    address = "172.19.0.1:8125"
#    pushInterval = "10s"
